<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="shared-styles.html">-->
<link rel="import" href="./my-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="./vote-element.html">

<dom-module id="headline-item">
    <template>
        <style>
             :host {
                display: flex;
                background-color: white;
                width: 100%;
                max-width: calc(100vw - 20px);
                /*height: 150px;*/
                padding: 5px;
                padding-left: 15px;
                margin: 0px;
                flex-direction: row;
                overflow-x: hidden;
                border-bottom: 1px solid #c2c2c2;
            }

            * a,
            a:visited {
                color: #888 !important;
            }

            .text-content {
                flex: 1;
                /*border: 1px solid red;*/
                overflow: hidden;
            }

            .text-content>a {
                font-size: 1.35em;
                line-height: 1.3em;
                padding-bottom: 10px;
                text-decoration: none;
            }

            vote-element {
                padding-right: 10px;
            }

            .topic {
                color: gray;
                text-overflow: ellipsis;
                width: 10ch;
            }

            .spacer {
                width: 30px;
                height: 1px;
            }

            .source {
                color: gray;
                text-overflow: ellipsis;
            }

            .spacer {
                height: 10px;
                width: 100%;
            }

            .richready {
                color: #ECD64D;
            }
        </style>

        <div class="text-content">
            <a href="{{data.link}}">
                <h4>
                    <iron-icon class="richready" hidden="{{!data.isRichReady}}" icon="my-icons:rich-ready"></iron-icon>
                    {{data.headline}}</h4>
            </a>
            <span class="topic">Topic: {{data.topic}}</span>
            <span class="source">Source: <a href="{{data.source}}">Süddeutsche</a></span>
            <div class="spacer"></div>
        </div>

        <vote-element raiting="{{data.raiting}}"></vote-element>
    </template>

    <script>
        class HeadlineItem extends Polymer.Element {
            static get is() { return 'headline-item' }

            static get properties() {
                return {
                    data: {
                        type: Object,
                        notify: true
                    }
                }
            }
        }
        window.customElements.define(HeadlineItem.is, HeadlineItem);
    </script>
</dom-module>