<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="my-icons" size="24">
  <svg>
    <defs>
      <g id="arrow-back">
        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
      </g>
      <g id="menu">
        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
      </g>
      <g id="chevron-right">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </g>
      <g id="close">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      </g>
      <g id="vrar">
        <path d="M20.74,6H3.2C2.55,6 2,6.57 2,7.27V17.73C2,18.43 2.55,19 3.23,19H8C8.54,19 9,18.68 9.16,18.21L10.55,14.74C10.79,14.16 11.35,13.75 12,13.75C12.65,13.75 13.21,14.16 13.45,14.74L14.84,18.21C15.03,18.68 15.46,19 15.95,19H20.74C21.45,19 22,18.43 22,17.73V7.27C22,6.57 21.45,6 20.74,6M7.22,14.58C6,14.58 5,13.55 5,12.29C5,11 6,10 7.22,10C8.44,10 9.43,11 9.43,12.29C9.43,13.55 8.44,14.58 7.22,14.58M16.78,14.58C15.56,14.58 14.57,13.55 14.57,12.29C14.57,11.03 15.56,10 16.78,10C18,10 19,11.03 19,12.29C19,13.55 18,14.58 16.78,14.58Z"
        />
      </g>
      <g id="settings">
        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"
        />
      </g>
      <g id="assessment">
        <path d="M21.47,4.35L20.13,3.79V12.82L22.56,6.96C22.97,5.94 22.5,4.77 21.47,4.35M1.97,8.05L6.93,20C7.24,20.77 7.97,21.24 8.74,21.26C9,21.26 9.27,21.21 9.53,21.1L16.9,18.05C17.65,17.74 18.11,17 18.13,16.26C18.14,16 18.09,15.71 18,15.45L13,3.5C12.71,2.73 11.97,2.26 11.19,2.25C10.93,2.25 10.67,2.31 10.42,2.4L3.06,5.45C2.04,5.87 1.55,7.04 1.97,8.05M18.12,4.25A2,2 0 0,0 16.12,2.25H14.67L18.12,10.59"
        />
      </g>
      <g id="reorder">
        <path d="M14,17H7V15H14M17,13H7V11H17M17,9H7V7H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"
        />
      </g>
      <g id="theaters">
        <path d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" />
      </g>
      <g id="volume-up">
        <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"
        />
      </g>
      <g id="sentiment-dissatisfied">
        <circle cx="15.5" cy="9.5" r="1.5" />
        <circle cx="8.5" cy="9.5" r="1.5" />
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-6c-2.33 0-4.32 1.45-5.12 3.5h1.67c.69-1.19 1.97-2 3.45-2s2.75.81 3.45 2h1.67c-.8-2.05-2.79-3.5-5.12-3.5z"
        />
      </g>
      <g id="sentiment-neutral">
        <path d="M9 14h6v1.5H9z" />
        <circle cx="15.5" cy="9.5" r="1.5" />
        <circle cx="8.5" cy="9.5" r="1.5" />
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"
        />
      </g>
      <g id="sentiment-satisfied">
        <circle cx="15.5" cy="9.5" r="1.5" />
        <circle cx="8.5" cy="9.5" r="1.5" />
        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm0-4c-1.48 0-2.75-.81-3.45-2H6.88c.8 2.05 2.79 3.5 5.12 3.5s4.32-1.45 5.12-3.5h-1.67c-.7 1.19-1.97 2-3.45 2z"
        />
      </g>
      <g id="sentiment-very-dissatisfied">
        <path d="M11.99 2C6.47 2 2 6.47 2 12s4.47 10 9.99 10S22 17.53 22 12 17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4.18-12.24l-1.06 1.06-1.06-1.06L13 8.82l1.06 1.06L13 10.94 14.06 12l1.06-1.06L16.18 12l1.06-1.06-1.06-1.06 1.06-1.06zM7.82 12l1.06-1.06L9.94 12 11 10.94 9.94 9.88 11 8.82 9.94 7.76 8.88 8.82 7.82 7.76 6.76 8.82l1.06 1.06-1.06 1.06zM12 14c-2.33 0-4.31 1.46-5.11 3.5h10.22c-.8-2.04-2.78-3.5-5.11-3.5z"
        />
      </g>
      <g id="sentiment-very-satisfied">
        <path d="M11.99 2C6.47 2 2 6.47 2 12s4.47 10 9.99 10S22 17.53 22 12 17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm1-10.06L14.06 11l1.06-1.06L16.18 11l1.06-1.06-2.12-2.12zm-4.12 0L9.94 11 11 9.94 8.88 7.82 6.76 9.94 7.82 11zM12 17.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"
        />
      </g>
      <g id="up-vote">
        <polygon points="12,4 22,22 2,22" style="fill:#c2c2c2;stroke:Black;stroke-width:0" />
      </g>
      <g id="down-vote">
        <polygon points="2,2 22,2 12,20" style="fill:#c2c2c2 ;stroke:Black;stroke-width:0" />
      </g>
      <g id="bed-room">
        <path stroke="null" id="svg_2" d="m22.454746,5.668545l-10.416349,-4.932241c-0.005934,-0.002443 -0.011519,-0.003491 -0.017453,-0.006283c-0.031416,-0.013962 -0.065624,-0.024085 -0.098086,-0.034906c-0.026878,-0.008727 -0.053057,-0.018849 -0.079935,-0.024783c-0.027227,-0.006283 -0.055152,-0.008028 -0.083077,-0.011868c-0.035604,-0.004887 -0.069463,-0.009774 -0.104369,-0.010123c-0.006981,-0.000349 -0.011868,-0.002094 -0.018849,-0.002094c-0.020944,0 -0.040142,0.004887 -0.061435,0.006283c-0.035604,0.002443 -0.069463,0.004538 -0.103322,0.010472c-0.030019,0.005585 -0.058293,0.013613 -0.087265,0.021642s-0.057944,0.016057 -0.086218,0.026529c-0.028972,0.011519 -0.056548,0.025482 -0.083775,0.039444c-0.026529,0.013264 -0.052708,0.026529 -0.077841,0.042236c-0.025132,0.016057 -0.048171,0.034208 -0.071907,0.05201c-0.024434,0.019547 -0.048869,0.037699 -0.071558,0.05934c-0.021642,0.020944 -0.04084,0.043284 -0.060737,0.065973c-0.019547,0.02234 -0.039793,0.04468 -0.057246,0.069114c-0.019897,0.028623 -0.036302,0.058293 -0.053406,0.088662c-0.010123,0.0185 -0.023038,0.034208 -0.032114,0.053406c-0.002443,0.005585 -0.003491,0.01117 -0.006283,0.016755c-0.014312,0.032114 -0.024085,0.065275 -0.034906,0.098435c-0.008727,0.026878 -0.018849,0.053057 -0.024783,0.079935c-0.006283,0.027227 -0.008028,0.055501 -0.011868,0.083077c-0.004887,0.035255 -0.009774,0.069114 -0.010472,0.104369c0,0.005934 -0.001745,0.011519 -0.001745,0.017802l0,2.878711l-2.015482,1.060449c-0.000698,0.000349 -0.001745,0.001047 -0.002443,0.001396l-7.174962,3.777894c-0.005236,0.002443 -0.010123,0.006632 -0.01501,0.009076c-0.005236,0.002792 -0.010821,0.004538 -0.015708,0.007679c-0.013613,0.00733 -0.025482,0.017104 -0.038397,0.025482c-0.017453,0.01117 -0.034906,0.021642 -0.051312,0.034208c-0.017104,0.012915 -0.032812,0.026529 -0.049218,0.040491c-0.01501,0.012915 -0.030717,0.025482 -0.04468,0.039095c-0.015359,0.01501 -0.02967,0.031066 -0.043982,0.047123c-0.013264,0.014661 -0.026529,0.028623 -0.038397,0.044331c-0.013264,0.016406 -0.025132,0.034208 -0.037001,0.051661c-0.010821,0.016057 -0.021991,0.032114 -0.032463,0.04852c-0.010821,0.0185 -0.020246,0.03735 -0.02967,0.056199c-0.008727,0.017453 -0.018151,0.035255 -0.02618,0.052708c-0.008377,0.019547 -0.014661,0.039444 -0.021991,0.05934c-0.006632,0.019198 -0.013613,0.037001 -0.019198,0.056199c-0.005934,0.020944 -0.009774,0.041887 -0.014661,0.06318c-0.00384,0.019547 -0.008377,0.038048 -0.011519,0.057944c-0.003142,0.021642 -0.004538,0.044331 -0.005934,0.066671c-0.001047,0.016406 -0.00384,0.032114 -0.004189,0.048869c0,0.003142 0.000349,0.006632 0.000349,0.009076c0,0.00384 -0.000698,0.006981 -0.000698,0.010472l0,0.339986l0,3.699355l0,2.210956c0,0.516611 0.419572,0.93758 0.936881,0.93758c0.517309,0 0.936881,-0.419572 0.936881,-0.93758l0,-0.529527l8.07589,5.004148l0,1.563098c0,0.516262 0.419223,0.937231 0.936532,0.937231c0.51696,0 0.936532,-0.419572 0.936532,-0.937231l0,-1.557862l8.28812,-5.063488l0,0.370703c0,0.516611 0.419921,0.93758 0.93758,0.93758c0.516611,0 0.93758,-0.419223 0.93758,-0.93758l0,-2.042011l0,-3.994662l0,-3.614533c-0.002443,-0.361279 -0.210833,-0.691142 -0.538253,-0.846125zm-10.802411,0.4091l2.597368,1.27233l-0.594452,0.422365l-2.560367,-1.401483l0.557451,-0.293212zm-0.696378,12.57355l-8.076239,-5.005195l0,-1.889122l8.07589,4.693832l0,2.200485l0.000349,0zm0.94107,-3.820131l-8.02004,-4.661369l5.227896,-2.751653l8.065069,4.412139l-5.272925,3.000883zm3.585561,-6.05971l0.681717,-0.484149l3.886103,1.903782l-0.96725,0.550121l-3.600571,-1.969755zm5.634553,4.828919l-8.28812,5.06279l0,-2.206768l6.732352,-3.83165c0.001396,-0.001396 0.002792,-0.002094 0.004887,-0.003491l1.550881,-0.882777l0,1.861895zm0,-4.972732l-8.543633,-4.184551l0,-1.379841l8.543633,4.045275l0,1.519116z"
        />
      </g>
      <g id="living-room">
        <path stroke="null" id="svg_3" d="m1.93319,17.40624l1.491379,0c0.411972,0 0.74569,-0.333718 0.74569,-0.74569l15.659482,0c0,0.411972 0.333718,0.74569 0.74569,0.74569l1.491379,0c0.411972,0 0.74569,-0.333718 0.74569,-0.74569l0,-6.338381c0,-0.411972 -0.333718,-0.74569 -0.74569,-0.74569l-1.491379,0c-0.411972,0 -0.74569,0.333718 -0.74569,0.74569l0,1.864205l0,1.491379l0,0.74569l-0.74569,0l-6.711207,0l-0.74569,0l-6.711207,0l-0.74569,0l0,-0.74569l0,-1.491379l0,-1.864205c0,-0.411972 -0.333718,-0.74569 -0.74569,-0.74569l-1.491379,0c-0.411972,0 -0.74569,0.333718 -0.74569,0.74569l0,6.338342c0,0.412011 0.333718,0.745729 0.74569,0.745729z"
        />
        <path stroke="null" id="svg_4" d="m10.889302,10.695034c0.26993,0 0.519741,0.078293 0.737853,0.20544l0,-3.561024c0,-0.411972 -0.333718,-0.74569 -0.74569,-0.74569l-5.219827,0c-0.411972,0 -0.74569,0.333718 -0.74569,0.74569l0,3.567379c0.224077,-0.131241 0.482466,-0.211795 0.761364,-0.211795l5.21199,0z"
        />
        <path stroke="null" id="svg_5" d="m11.627155,12.186413c0,-0.411972 -0.329975,-0.74569 -0.741947,-0.74569l-0.003743,0l-5.204153,0c-0.412011,0 -0.761364,0.333718 -0.761364,0.74569l0,1.491379l6.711207,0l0,-1.491379z"
        />
        <path stroke="null" id="svg_6" d="m18.346198,10.695034c0.26993,0 0.519741,0.078293 0.737853,0.20544l0,-3.561024c0,-0.411972 -0.333718,-0.74569 -0.74569,-0.74569l-5.219827,0c-0.411972,0 -0.74569,0.333718 -0.74569,0.74569l0,3.567379c0.224077,-0.131241 0.482466,-0.211795 0.761325,-0.211795l5.212029,0z"
        />
        <path stroke="null" id="svg_7" d="m19.084051,12.186413c0,-0.411972 -0.329975,-0.74569 -0.741947,-0.74569l-0.003743,0l-5.204192,0c-0.411972,0 -0.761325,0.333718 -0.761325,0.74569l0,1.491379l6.711207,0l0,-1.491379z"
        />
      </g>
      <g id="hall-room">
        <path stroke="null" id="svg_2" d="m9.163138,0.6602l0,1.000205l-3.911575,0l0,19.956113l1.446107,0l0,-18.510007l2.465468,0l0,20.233288l9.585297,-1.723281l0,-2.819869l0,-16.409577l-9.585297,-1.726873zm1.763345,12.117077c-0.322211,0 -0.583453,-0.339895 -0.583453,-0.759179c0,-0.419239 0.261241,-0.759133 0.583453,-0.759133s0.583453,0.339895 0.583453,0.759133c0,0.419285 -0.261241,0.759179 -0.583453,0.759179z"
        />
      </g>
      <g id="bath-room">
        <path stroke="null" id="svg_3" d="m15.422203,1.122203c-2.063488,0 -3.779789,1.512027 -4.100895,3.486227c-1.698555,0.319344 -2.988004,1.812809 -2.988004,3.602672c0,0.943508 0.767594,1.711102 1.711102,1.711102l3.911102,0c0.943508,0 1.711102,-0.767594 1.711102,-1.711102c0,-1.742984 -1.222805,-3.204695 -2.855359,-3.575086c0.288578,-1.173734 1.349434,-2.047117 2.61091,-2.047117c3.369652,0 6.111102,2.741449 6.111102,6.111102l0,4.644449l-20.533262,0l0,0.733348c0,3.231852 2.033969,5.997191 4.888899,7.084387l0,1.715613l1.466652,0l0,-1.321289c0.39802,0.06484 0.80618,0.099043 1.222203,0.099043l6.844449,0c0.416023,0 0.824227,-0.034203 1.222203,-0.099043l0,1.321289l1.466652,0l0,-1.715613c2.854973,-1.087195 4.888941,-3.852578 4.888941,-7.084387l0,-5.377797c0,-4.17841 -3.399387,-7.577797 -7.577797,-7.577797zm-1.222203,7.088899c0,0.134793 -0.109656,0.244449 -0.244449,0.244449l-3.911102,0c-0.134793,0 -0.244449,-0.109656 -0.244449,-0.244449c0,-1.213094 0.986906,-2.2 2.2,-2.2s2.2,0.986906 2.2,2.2zm1.222203,11.977797l-6.844406,0c-3.121637,0 -5.704059,-2.352453 -6.067359,-5.377797l18.979168,0c-0.363301,3.025344 -2.945723,5.377797 -6.067402,5.377797z"
        />
        <polygon stroke="null" id="svg_6" points="15.666610717773438,10.655549049377441 14.200002670288086,10.655549049377441 14.199957847595215,10.655549049377441 14.199957847595215,12.611103057861328 14.200002670288086,12.611103057861328 15.666610717773438,12.611103057861328 15.666654586791992,12.611103057861328 15.666654586791992,10.655549049377441 "
        />
      </g>
      <g id="play-arrow">
        <path id="play" d="m12,1.5c-6.0654,0 -11.000001,4.7103 -11.000001,10.5s4.9346,10.5 11.000001,10.5s11.000001,-4.7103 11.000001,-10.5s-4.9346,-10.5 -11.000001,-10.5zm5.706434,10.7891l-8.066667,5.25c-0.061967,0.04025 -0.1342,0.0609 -0.206433,0.0609c-0.058667,0 -0.1177,-0.0133 -0.171233,-0.0406c-0.120267,-0.06055 -0.195433,-0.17955 -0.195433,-0.3094l0,-10.5c0,-0.12985 0.075167,-0.24885 0.195433,-0.3094c0.120267,-0.0609 0.265467,-0.0525 0.378033,0.0203l8.066667,5.25c0.099733,0.0651 0.159867,0.17325 0.159867,0.2891s-0.060133,0.224 -0.160233,0.2891z"
        />
      </g>
      <g id="rich-ready">
        <text stroke="null" transform="matrix(0.10255962776439437,0,0,0.09593509079325244,6.111931411797599,20.0390171195722) "
          xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="216" id="svg_1"
          y="-8.288145" x="-8.044852" stroke-opacity="null" stroke-width="0" fill="#edd54e">R</text>
        <ellipse stroke="#edd54e" ry="11" rx="11" id="svg_2" cy="12" cx="12" stroke-width="2" fill="none" />
      </g>
    </defs>
  </svg>
</iron-iconset-svg>