<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="shared-styles.html">-->
<link rel="import" href="headline-item.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/byutv-jsonp/byutv-jsonp.html">
<script src="../bower_components/jsonp/JSONP-min.js"></script>

<dom-module id="my-view1">
  <template>
    <style>
       :host {
        display: block;

        /*padding: 10px;*/
      }

      headline {}
    </style>

    <!--<polymer-jsonp auto url="https://clients1.google.com/finance/info?q=GOOG&client=ig&callback="></polymer-jsonp>-->
    <!--<iron-ajax auto url="http://rss.sueddeutsche.de/rss/Topthemen" handle-as="json" on-response="handleRSSResponse"></iron-ajax>-->

    <byutv-jsonp auto url="https://api.rss2json.com/v1/api.json?callback=showFeed&rss_url=https%3A%2F%2Fnews.ycombinator.com%2Frss"
      params='' on-response="handleResponse" debounce-duration="300"></byutv-jsonp>

    <div class="headlines">
      <template is="dom-repeat" items="{{feed1}}">
        <headline-item data="{{feedItem2Headline(item)}}"></headline-item>
      </template>
      <template is="dom-repeat" items="{{headlines}}">
        <headline-item data="{{item}}"></headline-item>
      </template>
      <template is="dom-repeat" items="{{feed2}}">
        <headline-item data="{{feedItem2Headline(item)}}"></headline-item>
      </template>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      static get properties() {
        return {
          dda: {
            type: Object,
            notify: true
          },
          headlines: {
            type: Array,
            value: [
              {
                headline: 'Meer der Verzweifelten',
                source: 'Süddeutsche Zeitung',
                topic: 'Flüchtlinge',
                date: new Date(),
                raiting: 26,
                link: '/view2',
                isRichReady: true
              },
            ]
          },
          feed1: {
            type:Array,
            notify: true
          },
          feed2: {
            type:Array,
            notify: true
          }
        }
      }

      constructor() {
        super();
        JSONP('https://api.rss2json.com/v1/api.json?callback=showFeed&rss_url=http%3A%2F%2Frss.sueddeutsche.de%2Frss%2FTopthemen',
        // function (json) {
        //   console.log(json);
        // }
        ((data)=>{
          console.log(data.items);
          var breaker = 2;
          this.feed1 = data.items.slice(0, breaker)
          this.feed2 = data.items.slice(breaker, data.items.length - 1)
        }).bind(this)
        );
      }

      handleResponse(bla) {
        //https://api.rss2json.com/v1/api.json?callback=showFeed&rss_url=https%3A%2F%2Fnews.ycombinator.com%2Frss
        console.log(bla);
      }

      feedItem2Headline(feedItem) {
        return {
          headline: feedItem.title,
          source: feedItem.link,
          date: new Date(feedItem.pubDate),
          topic: feedItem.categories.join(),
          raiting: Math.floor(Math.random() * 20)
        };
      }

      postFeed(data) {
        console.log('sdnvNKDvjnkJ')
      }
    }

    window.customElements.define(MyView1.is, MyView1);

    function showFeed(data) {
      console.log(data);
      MyView1.postFeed(data)
    }
  </script>
</dom-module>