<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/google-youtube/google-youtube.html">
<!--<script src="../bower_components/aframe/aframe-master.js"></script>-->


<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
       :host {
        display: flex;
        height: 100%;
        flex-direction: column;
      }

      h1 {
        padding-left: 10px;
      }

      main {
        flex: 1;
        overflow-y: auto;
      }

      main>iron-pages {
        height: 100%;
      }

      footer {
        background-color: white;
        display: flex;
        flex-direction: row;
        color: #666;
        border-top: 1px solid #c2c2c2;
      }

      footer>* {
        flex: 1;
        height: 60px;
      }

      footer>paper-icon-button.active {
        color: #ECD64D;
      }

      .audio {
        height: 100%;
        display: table;
      }

      .audio>main {
        /*margin: auto auto;*/
        vertical-align: middle;
      }

      .video {
        /*display: flex;
        flex-direction: column;*/
        height: 100%;
        width: 100%;
      }

      .video>main {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .video>main>iframe {
        width: 100vw;
        height: 56vw;
      }

      /*.video>main * {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }*/
      /*.vrar {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }*/

      .vrar {
        height: 100%;
      }

      .vrar * {
        width: 100vw;
        height: 100%;
        max-height: 100%;
      }

      .text {
        background-color: white;
        color: #333;
        padding: 10px;
        height: 100%;
      }

      .center {
        display: flex;
        flex-direction: column;
        height: 100%;
        /*overflow-y: hidden*/
      }

      .spacer {
        flex: 1;
      }

      .audio {}

      .audio>main {
        position: relative;
        top: 50%;
        transform: translateY(25%);
      }

      .audio>main>.overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: 100;
        text-align: center;
      }

      .audio>main>.overlay>* {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
      }

      .audio>main>.overlay paper-icon-button {
        --paper-icon-button: {
          width: 124px;
          height: 124px;
        }
        ;
        margin: auto,
        auto;
        left: 35%;
      }

      .audio>main .img {
        background: url(./data/audio_cover.png);
        width: 100vw;
        height: 100vw;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
      }

      .audio>main .img>video {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100vw;
      }

      .audio>main .img>h1 {
        position: absolute;
        top: 0px;
        left: 0px;
        color: white;
      }
    </style>


    <iron-ajax auto url="./src/data/rich-article.json" handle-as="json" last-response="{{ajaxR}}" on-response="handleResponse"></iron-ajax>

    <main>
      <iron-pages selected="{{typeID}}">
        <section class="vrar">
          <iframe width="100%" src="https://www.youtube.com/embed/ZYI4Se3mmTw" frameborder="0" allowfullscreen></iframe>
          <!--<google-youtube id="googleYouTube" video-id="ZYI4Se3mmTw" on-google-youtube-state-change="handleStateChange" on-google-youtube-error="handleYouTubeError">
          </google-youtube>-->
        </section>

        <section id="text" class="text center">
          <h1>{{ajaxR.headline}}</h1>
          <template is="dom-repeat" items="{{ajaxR.sections}}">
            <p>{{item.text}}</p>
          </template>
        </section>
        <section class="video center">
          <div class="spacer"></div>
          <main>
            <h1>{{ajaxR.headline}}</h1>
            <iframe width="100%" src="https://www.youtube.com/embed/c80E1efif7c" frameborder="0" allowfullscreen></iframe>
          </main>
          <div class="spacer"></div>
        </section>
        <section class="audio">
          <main>
            <div class="img">
              <h1>{{ajaxR.headline}}</h1>
              <video controls="" name="media">
                <source src="./src/data/sz-flüchtlinge.mp3" type="audio/mp3">
              </video>
            </div>
          </main>
        </section>
        <!--<section class="raw center">
          Raw
          <template is="dom-repeat" items="{{}}">
            <img src="">
          </template>
        </section>-->
      </iron-pages>
    </main>

    <footer elevated="1">
      <paper-icon-button id="btnVrAr" icon="my-icons:vrar" on-tap="onVrAr"></paper-icon-button>
      <paper-icon-button id="btnText" class="active" icon="my-icons:reorder" on-tap="onText"></paper-icon-button>
      <paper-icon-button id="btnVideo" icon="my-icons:theaters" on-tap="onVideo"></paper-icon-button>
      <paper-icon-button id="btnAudio" icon="my-icons:volume-up" on-tap="onAudio"></paper-icon-button>
      <!--<paper-icon-button id="btnRaw" icon="my-icons:assessment" on-tap="onRaw"></paper-icon-button>-->
    </footer>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }

      static get properties() {
        return {
          richArticle: {
            type: Object,
            notify: true
          },
          ajaxR: {
            type: Object,
            notify: true
          },
          typeID: {
            type: Number,
            value: 1
          },
          articlePosition: {
            type: Number,
            value: 0
          }
        }
      }

      handleResponse(params) {
        console.log(this.ajaxR);
      }

      onVrAr() {
        this.typeID = 0;
        this.resetBtn();
        this.$.btnVrAr.classList.toggle('active');
      }

      onText() {
        this.typeID = 1;
        this.resetBtn();
        this.$.btnText.classList.toggle('active');
      }

      onVideo() {
        this.typeID = 2;
        this.resetBtn();
        this.$.btnVideo.classList.toggle('active');
      }

      onAudio() {
        this.typeID = 3;
        this.resetBtn();
        this.$.btnAudio.classList.toggle('active');
      }

      onRaw() {
        this.typeID = 4;
        this.resetBtn();
        this.$.btnRaw.classList.toggle('active');
      }

      onStartAudio() {
        this.$.audioOverlay.hidden = true;
        this.$.audioPlayer.play()
      }

      onChange() {
        // get section
        (function getTextSection() {
          var ps = 0;
        })();
      }

      resetBtn() {
        this.$.btnVrAr.classList.remove('active')
        this.$.btnText.classList.remove('active')
        this.$.btnVideo.classList.remove('active')
        this.$.btnAudio.classList.remove('active')
        // this.$.btnRaw.classList.remove('active')
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>