<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
       :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>Story</h1>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.</p>
      <p>Id nam odio natum malorum, tibique copiosae expetenda mel ea.Detracto suavitate repudiandae no eum. Id adhuc minim
        soluta nam.Id nam odio natum malorum, tibique copiosae expetenda mel ea.</p>
      <iron-icon icon="menu"></iron-icon>

      <template is="dom-repeat" items="{{temp}}">
        <paper-icon-button icon="{{item}}"></paper-icon-button>
      </template>
      <paper-icon-button icon="my-icons:up-vote"></paper-icon-button>
      <paper-icon-button icon="my-icons:down-vote"></paper-icon-button>

    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }

      static get properties() {
        return {
          temp: {
            type: Array,
            value: [
              'my-icons:settings',
              'my-icons:theaters',
              'my-icons:volume-up',
              'my-icons:reorder',
              'my-icons:assessment',
            ]
          }
        }
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>