<link rel="import" href="../bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="shared-styles.html">-->
<link rel="import" href="./my-icons.html">
<link rel="import" href="./vote-element.html">

<dom-module id="vote-element">
    <template>
        <style>
             :host {
                display: block;
                max-width: 40px;
                margin: auto auto;
            }

            .number {
                width: 100%;
                text-align: center;
                font-size: 14px;
            }

            paper-icon-button {
                transform: scale(50%);
            }

            .upvote {
                --iron-icon-width: 75% !important;
                --iron-icon-height: 75% !important;

            }
        </style>


        <paper-icon-button class="upvote" icon="my-icons:up-vote" on-tap="upvote"></paper-icon-button>
        <div class="number">{{raiting}}</div>
        <paper-icon-button icon="my-icons:down-vote" on-tap="downvote"></paper-icon-button>

    </template>

    <script>
        class VoteElement extends Polymer.Element {
            static get is() { return 'vote-element' }

            static get properties() {
                return {
                    raiting: {
                        type: Number,
                        notify: true,
                        value: 0
                    }
                }
            }

            upvote() {
                this.raiting += 1;
            }

            downvote() {
                this.raiting -= 1;
            }
        }
        window.customElements.define(VoteElement.is, VoteElement);
    </script>
</dom-module>